.App {}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
    pointer-events: none;
    margin-left: 2rem !important;
    margin: 0px !important;
}

.App-header {
    background-color: #282c34;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    /* width: 100%; */
    top: 0;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dashPlan {
    width: 100% !important;
}

.dashTask {
    width: 100% !important;
    padding: 1em;
}

.dashSubtask {
    width: 100% !important;
    padding: 1em;
}

.row {
    padding: 1em !important;
}

.dashFlex {
    padding-left: 1em !important;
}

.btn {
    width: 100% !important;
}

.my-label {
    color: white !important;
}

.black-text {
    color: black !important;
}

.ui.small.image,
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg {
    width: 11.527375em !important;
    height: 11.527375em !important;
    font-size: 16px !important;
    object-fit: cover;
}

.profileData {
    width: 100% !important;
}

.row {
    margin: 0 !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
    justify-content: center !important;
    flex-wrap: nowrap !important;
}

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;
}

.my-form {
    padding: 1em !important;
}

.DashboardGeneralSize {
    width: 90% !important;
}

.ParticipantsLabel {
    margin: .5em !important;
    padding: 1em !important;
}

.ListParticipants {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.LoginLogoFlexGrid {
    display: flex !important;
    flex-flow: column !important;
    justify-content: space-evenly !important;
}

.loginlogo {
    height: 8em !important;
}

.orangeUnderscoreLoginText {
    padding-bottom: .3em;
    border-bottom: 0.03em solid orange;
}

.noBorderRadius {
    border-radius: 0 !important;
}

.CenteredTagTaskPage {
    position: absolute !important;
    left: -1em !important;
    top: 3.5em !important;
    z-index: 1 !important;
}

.TaskListItems {
    width: 100% !important;
}


.mobileLabelTasks {
    width: 13em;
    text-align: center;
}


@media (orientation: portrait) {
    .mobileLabelTasks {
        width: 100% !important;
        margin: .5em !important;
        text-align: center !important;
    }
}

.CalendarWidthMax {
    width: 100% !important;
}