.App {}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dashPlan {
    width: 100% !important;
}

.dashTask {
    width: 100% !important;
}

.dashSubtask {
    width: 100% !important;
}

.row {
    padding: 1em !important;
}

.dashFlex {
    padding-left: 1em !important;
}

.btn {
    width: 100% !important;
}

.my-label {
    color: white !important;
}

.black-text {
    color: black !important;
}

.ui.small.image,
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg {
    width: 150px;
    height: auto !important;
    font-size: .92857143rem;
}