.App {
  text-align: left;
  color: #2e4057;
}

h1 {
  margin-left: 0.67em;
}

h2 {
  margin-left: 0.9em;
}

.Clock {
  margin-left: 3em;
  grid-area: clock;
  margin-top: 10%;
  margin-bottom: 5%;
}

.grid-container {
  margin-top: 4em;
  display: grid;
  grid-template-areas:
    'clock smallfont'
    'clock bigfont';
  width: 15%;
  text-align: left;
}

.smallFont {
  font-size: 0.9em;
  grid-area: smallfont;
}

.bigFont {
  font-size: 1.5em;
  grid-area: bigfont;
}

i {
  margin-top: 3em;
  margin-left: 3em;
  border: solid #2e4057;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

p {
  display: inline;
  margin: 1em;
  font-size: 120%;
}





/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
