<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Welcome to</div>
      <div class="text-center">
        <h3>Product Manager</h3>
      </div>

      <div class="text-center">Angular training from:</div>
      <div class="text-center">
        <a href="https://app.pluralsight.com/library/courses/angular-2-getting-started-update/table-of-contents">https://app.pluralsight.com/</a>
      </div>
    </div>
  </div>
</div>