.my-form {
    background-color: rgb(26, 27, 26);
    border-radius: 0.5em;
}

h2 {
    text-align: center;
    border-bottom: 0.03em solid #00a8a8;
    color: rgba(248, 239, 225, 0.87) !important;
}

label {
    text-align: center;
    padding-bottom: 2%;
    color: rgba(248, 239, 225, 0.87) !important;
}

.my-form {
    align-self: center !important;
    width: 350px !important;
}


#root {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.App {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.centered {
    display: flex;
    align-content: center !important;
    align-items: center !important;
    align-self: center !important;
    margin-top: 0 !important;
    height: 100% !important;
}

.outer-div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inner-div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url('https://pixabay.com/get/57e5d3414d56af14ea9d857fc22b3176133ac3e45654794a762a7dd292/the-polygon-1562743.jpg');
}

.inner-div:hover {
    transform: scale(1.2);
}

.form-container {
    height: 100%;
}